@import url("./reset.css");

/* FONTES */
@font-face {
  font-family: Montserrat-Bold;
  src: url("../fontes/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("../fontes/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fontes/Montserrat-SemiBold.ttf");
}

/* VARIAVEIS */
:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;

  --white: #fff;

  --title: #181818;
  --text: #474747;
}

.navbar__ofertas{
  background-color: var(--title);
  color: var(--white);

  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: Montserrat-Medium;
}

.navbar__titulo-cabecalho {
  color: var(--title);
  background-color: var(--bgSite);

  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Montserrat-Bold;
}

.banner {
  background-image: url("../img/wallpaper1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 380px;
  background-attachment: fixed;
  /* filter: brightness(50%); */

  display: flex;
  align-items: center;
}

.banner__letreiro {
  font-family: Montserrat-SemiBold;

  color: var(--text);
  margin: 0 40px;
}

.destaques {
  font-family: Montserrat-Medium;
  height: 215px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.destaques__letreiro {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  padding: 0 20px;
}

.catalogo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.catalogo__tenis {
  width: 300px;
  height: 302px;
  margin: 10px;

  display: flex;
  align-items: center;

  background-color: var(--bgCard);
}

.catalogo__tenis > img:hover {
  transform: scale(1.3);
  transition: 1s all ease;

  cursor: pointer;
}

.rodape {
  height: 60px;
  background-color: var(--title);
  color: var(--white);

  font-family: Montserrat-Medium;
  display: flex;
  align-items: center;
  justify-content: center;
}